.header-container 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #0f0125;
  color: #fff;
  position: relative;
  z-index: 10;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  top: 10px;
  width: 97%; /* ocupa 100% da largura da tela */
  margin: 0 auto;     /* centraliza horizontalmente */
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  height: 40px;
  width: 40px;
}

.main-nav a {
  font-size: 14px;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-nav a {
  display: inline-block; /* Necessário para transform funcionar */
  transition: color 0.3s ease, transform 0.3s ease;
}

.main-nav a:hover {
  color: #6f42b8;
  transform: translateY(-2px);
}

.menu-icon {
  width: 30px;
  height: 25px;
  display: none; /* Escondido por padrão em telas maiores */
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon span {
  width: 100%;
  height: 3px;
  background-color: #28e98c;
  border-radius: 2px;
}

/* Media query para responsividade */
@media (max-width: 992px) {
  .main-nav {
    display: none; /* Esconde a navegação no mobile */
  }
  .menu-icon {
    display: flex; /* Mostra o ícone hambúrguer no mobile */
  }
}