.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 80px); /* Ajuste 80px para a altura real do seu header */
  padding: 40px 5%;
  background-color: rgb(8, 6, 20);
  color: #fff;
  gap: 40px;  
  overflow: hidden; /* Evita barras de rolagem causadas pela rotação */
}

.hero-left {
  flex: 1;
  max-width: 600px;
  z-index: 2; /* Para garantir que o texto fique na frente de qualquer elemento de fundo */
}

.hero-left h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 1.2;
  margin-left: 40px;
}

.highlight-text {
  color: #28e98c;
}

.hero-left p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #c5c5c5;
  margin-bottom: 20px;
  margin-left: 40px;
}

.cta-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 40px;
}

.primary-button {
  background-color: rgb(8, 6, 20);
  border-radius: 50px;
  border: 1px solid white;
  color: #ffffff;
}

.primary-button:hover {
  transform: translateY(-3px);
  border-color: #6f42b8;
  color: #6f42b8
}

.secondary-button {
  background: transparent;
  color: #fff;
}

.secondary-button svg {
  color: #28e98c;
}

.secondary-button:hover {
  transform: translateY(-3px);
  color: #6f42b8
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}
.image-frame {
  margin-right: 50px;
  flex: 1.5;
  position: relative;
  width: 280px; /* Ajuste o tamanho */
  height: 500px; /* Ajuste a altura */
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.image-frame img {
  position: absolute;
  top: 0%;       /* Move a imagem para cima */
  left: 0%;       /* Ajusta horizontalmente */
  width: 110%;     /* Dá espaço para movimentar */
  height: 120%;    /* Aumenta para evitar cortes */
  object-fit: cover;
  z-index: 1;
}


/* Responsividade */
@media (max-width: 992px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-left {
    order: 2; /* Texto fica abaixo da imagem em telas menores */
  }

  .hero-right {
    order: 1;
    margin-bottom: 40px;
  }

  .cta-buttons {
    justify-content: center;
  }

  .hero-left h1 {
    font-size: 2.5rem;
  }
}